.ant-layout-content {
  margin-top: 60px;
}

/* .carousel-section {
  margin-top: 10px;
} */

.hero-item {
  position: relative !important;
}

.hero-heading {
  position: absolute;
  margin: 0;
  width: 615px;
  line-height: 1;
  font-family: 'Major Mono Display', monospace;
  font-size: 4rem;
  top: -20px;
}

.hero-info {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: black;
  top: 25%;
  line-height: 2;
  width: 300px;
  right: 70px;
  font-size: 1.5em;
  text-align: end;
}

.hero-item-1 {
  background: radial-gradient(royalblue, darkslategray);
}

.hero-item-1 h3,
.hero-item-2 h3,
.hero-item-3 h3,
.hero-item-4 h3 {
  color: white;
}

.hero-item-2 {
  background: radial-gradient(#d2cbcb, black);
}

.hero-item-3 {
  background: radial-gradient(goldenrod, brown);
}

.hero-item-4 {
  background: radial-gradient(olivedrab, darkgreen);
}
