.ant-layout-content {
  margin-top: 60px;
}

.carousel-section {
  margin-top: 30px;
}

.hero-item {
  position: relative !important;
}

/* .hero-heading {
  
} */

.hero-info {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: black;
  top: 25%;
  line-height: 2;
  width: 300px;
  right: 70px;
  font-size: 1.5em;
  padding: 1em;
  text-align: start;
  box-shadow: 33px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 2em;
}

.hero-item-1 h3,
.hero-item-2 h3,
.hero-item-3 h3,
.hero-item-4 h3 {
  box-shadow: 33px 13px 20px #cbced1, -13px -13px 20px #fff;
  position: absolute;
  font-size: 4rem;
  margin: 0;
  line-height: 1;
  font-family: 'Major Mono Display', monospace;
  border-radius: 2em;
}

.hero-item-1 h3 {
  left: 80px;
  width: 500px;
  font-size: 3.4rem;
}

.hero-item-2 h3 {
  width: 400px;
  left: 150px;
  top: 20px;
}

.hero-item-3 h3 {
  width: 400px;
  left: 150px;
  top: 25px;
}

.hero-item-4 h3 {
  width: 500px;
  left: 47px;
  font-size: 3.5rem;
}

/* .hero-item-1 {
  background: radial-gradient(royalblue, darkslategray);
}

.hero-item-1 h3,
.hero-item-2 h3,
.hero-item-3 h3,
.hero-item-4 h3 {
  color: white;
}

.hero-item-2 {
  background: radial-gradient(#d2cbcb, black);
}

.hero-item-3 {
  background: radial-gradient(goldenrod, brown);
}

.hero-item-4 {
  background: radial-gradient(olivedrab, darkgreen);
} */
