.design-section {
  display: flex;
  flex-direction: column;
  margin: 10em 5em;
}

.feature-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 3em;
  margin: 3em 3em;
  padding: 4em;
  box-shadow: 5px 5px 14px 7px gainsboro;
  border-radius: 1em;
}

.design-img > img {
  width: 100%;
  box-shadow: 5px 5px 10px 9px gainsboro;
  border-radius: 2rem 0;
}

.design-info > h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: end;
  font-size: 3.5rem;
}

.design-info > p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}
