/* * {
  line-height: 100%;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*ant-properties*/
.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black !important;
  color: white;
  height: 50px !important;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: transparent !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #f44336 !important;
}

.ant-layout-header .ant-menu {
  line-height: 50px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em !important;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.ant-carousel {
  width: 1325px;
  /* height: 60vh; */
  margin: auto !important;
}

/*Navbar*/
.website-logo h3 {
  color: whitesmoke;
  font-size: 1.5em;
}

/*carousel*/
.hero-item {
  position: relative !important;
}

.hero-heading {
  position: absolute;
  margin: 0;
  width: 615px;
  line-height: 1;
  font-family: 'Major Mono Display', monospace;
  font-size: 4rem;
  top: -20px;
}

.hero-info {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: black;
  top: 25%;
  line-height: 2;
  width: 300px;
  right: 70px;
  font-size: 1.5em;
  text-align: end;
}

.hero-item-1 {
  background: radial-gradient(royalblue, darkslategray);
}

.hero-item-1 h3,
.hero-item-2 h3,
.hero-item-3 h3,
.hero-item-4 h3 {
  color: white;
}

.hero-item-2 {
  background: radial-gradient(#d2cbcb, black);
}

.hero-item-3 {
  background: radial-gradient(goldenrod, brown);
}

.hero-item-4 {
  background: radial-gradient(olivedrab, darkgreen);
}
